<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>ClosestNoteTests</key>
		<dict>
			<key>testClosestNote()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01833</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 5, 2021 at 15:35:20</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>25</real>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
